<div class="container-fluid">
  <div class="card" style="width: 50%; margin: 10px auto;">
    <div class="card-header">
      Order Tracking
    </div>
    <div class="card-body">
      <form name="trackingForm">

        <label for="trackingNumber">Tracking Number</label>
        <input [(ngModel)]="input.trackingNumber" input id="trackingNumber" class="form-control" type="text"
          #trackingNumber="ngModel" minlength="36" maxlength="36" name="trackingNumber" placeholder="Tracking Number"
          required>

        <span *ngIf="trackingNumber.touched && trackingNumber.invalid" class="errormessage" style="color:red">Please
          enter a 36 digit tracking number</span>
        <br>
        <button class="btn btn-primary" (click)="trackOrder()" [disabled]="!trackingNumber.valid">Submit</button>

      </form>
      <div>
        <br>
        <button class="btn btn-secondary">Reset</button>
      </div>
      <br>
      <div class="invisible alert" id = "status">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong id = "statusText">Your order in on your way!</strong>
      </div>
      <app-orderered-products class="invisible" id="trackingOrderItems" [tracker]='input.trackingNumber'
        [orderItems]="orderItems"></app-orderered-products>