@import "bootstrap/dist/css/bootstrap.min.css";
/* You can add global styles to this file, and also import other style files
@import "~bootstrap/dist/css/bootstrap.css"; */
.ngx-pagination {
  /* display: flex;
  justify-content: center; */
  font-size: 18px !important;
}

.ngx-pagination .current,
.btn-info {
  background: #0D6EFD !important;
  border: transparent !important;
  border-radius: 25%;
}

/* .ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border-radius: 20px !important;
  border: transparent !important;
} */

.alert.error-message {
  margin-bottom: 1px;
  height: 25%;
  line-height:30px;
  padding:0px 15px;
}

#blue-white-table td,
th {
    border: 1px solid #ddd;
}

#blue-white-table th {
    background-color: deepskyblue;
    color: white;
    border-top: 0px;
}

#blue-white-table tr:nth-child(even) {
    background-color: rgba(8, 192, 248, 0.164)
}

#blue-white-table th:first-of-type {
    border-top-left-radius: 10px;
    border-left: 0px;
    border-top: 0px;
}

#blue-white-table th:last-of-type {
    border-top-right-radius: 10px;
    border-right: 0px;
    border-top: 0px;
}

.no-hover {
  pointer-events: none;
}

.no-hover:hover {
  color: transparent !important;
  text-decoration: none;
}