<div class = "container pt-5">
    <div class="row justify-content-sm-center pt-5">
        <div class="col-sm-6 shadow round pb-3">
            <h1 class="text-center pt-3 text-secondary">Edit User Details</h1>
            <form #editUserForm="ngForm">
                <div class="row">
                    <label for="fName">First Name</label>
                    <input [(ngModel)]="user.fName" id="firstName" class="form-control" type="text"
                      name="firstName" #firstName="ngModel" required>
                    <span *ngIf="firstName.touched && firstName.invalid" class="errormessage" style="color:red">Enter first
                      name</span>
                </div>
                <div class="row">
                    <label for="lName">Last Name</label>
                    <input [(ngModel)]="user.lName" id="lastName" class="form-control" type="text"
                      name="lastName" #lastName="ngModel" required>
                    <span *ngIf="lastName.touched && lastName.invalid" class="errormessage" style="color:red">Enter last
                      name</span>
                </div>
                <div class="row">
                    <label for="username">Username</label>
                    <input [(ngModel)]="user.username" id="username" class="form-control" type="text"
                      name="username" #username="ngModel" required>
                    <span *ngIf="username.touched && username.invalid" class="errormessage" style="color:red">Enter username</span>
                </div>
                <div class="row">
                    <label for="email">Email</label>
                    <input [(ngModel)]="user.email" id="email" class="form-control" type="text"
                      name="email" #email="ngModel" required>
                    <span *ngIf="email.touched && email.invalid" class="errormessage" style="color:red">Enter email</span>
                </div>
                <button [disabled] = "editUserForm.invalid" type = "submit" class="btn btn-primary" (click)="updateUserInfo($event)">Update User Info</button>
            </form>
        </div>
    </div>
</div>