<form class="row gy-2 gx-3 mx-auto align-items-center justify-content-center">
    <div class="row g-3 justify-content-center">
        <div class="col-auto">
            <input type="text" class="form-control" placeholder="First Name" aria-label="State">
        </div>
    </div>
    <div class="row g-3 justify-content-center">
        <div class="col-auto">
            <input type="text" class="form-control" placeholder="New Password" aria-label="State">
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" placeholder="Confirm New Password" aria-label="State">
        </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>
