<!-- Toolbar -->
<nav class="navbar navbar-dark bg-primary sticky-top" role="banner">
  <h1 class="mx-auto text-center" id="logo">E-Commerce App</h1>
  <ng-container *ngIf="(isAuthenticated$ | async) === false; else signedIn">
    <button class="p-2 me-2" (click)="signIn()"> Sign in </button>
  </ng-container>
  <ng-template #signedIn>
    <!-- Thanks to https://www.w3schools.com/howto/howto_js_dropdown.asp for the logic on dropdown menus.*/ -->
    <ul class="nav justify-content-end">
      <li *oktaHasAnyGroup="['Admin']" class="navbarlinks"><button class = "btn btn-default navbar-btn"><a class="hoverbtn"
          routerLink="/product-list">Admin Product List</a></button></li>
      <li class="navbarlinks"><button class = "btn btn-default navbar-btn hoverbtn"><a class="hoverbtn" routerLink="/product">Customer Product List</a></button></li>
      <li class="navbarlinks"><button class = "btn btn-default navbar-btn"><a class="hoverbtn" routerLink="/cart-list">Cart</a></button></li>
      <li class="navbarlinks"><button class = "btn btn-default navbar-btn"><a class="hoverbtn" routerLink="/order-list">Orders</a></button></li>
    </ul>
    <div class="dropdown p-2 me-4">
      <button (click)="toggleDropdown()" class="dropbtn" #userBtn>User</button>
      <!-- Thanks to https://www.w3schools.com/howto/howto_js_dropdown.asp for the logic on dropdown menus.*/ -->
      <div id="accountDropdown" class="dropdown-content">
        <a href="/edit-user">Edit Details</a>
        <a class="disabled" href="/change-password">Change Password</a>
        <a role="button" (click)="signOut()">Sign out</a>
      </div>
    </div>
  </ng-template>
</nav>

<br><br><br><br>
<!--<app-get-products></app-get-products>
<app-product-list></app-product-list> -->
<router-outlet></router-outlet>
