<div class="container">
  <button *ngIf="!hideBackButton" class="btn btn-secondary float-left mb-3" style="width: 20%; margin-right: 5px"
    [routerLink]="['../']">Back to
    Orders</button>


  <div class="container">
    <h3 class="text-center">Order: <h5 class="d-inline">{{tracker}}</h5>
    </h3>
    <!-- <h4 class="text-center"><strong>Total: $</strong>
      {{totalPrice | number:'1.2-2'}}</h4> -->


  </div>
  <div class="container-fluid">
    <table class="table blue-white-table">
      <thead class="thead-light">
        <tr>
          <th>Product Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Amount</th>
          <th *ngIf="!isAdmin">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oi of orderItems! | paginate: { itemsPerPage: 5, currentPage: pageNum}">
          <td>{{oi.product?.productName}}</td>
          <td><img class="float-left  m-2" src="{{oi.product?.productImage}}" alt="product image"
              style=" width: 20;height: 20px;"></td>
          <td>${{oi.product?.productPrice}}</td>
          <td>{{oi.amt}}</td>
          <td style="width:300px" *ngIf="!isAdmin">
            <p-rating #rating class="d-inline-block me-3"
              (onRate)="hasEnteredRatingForProduct[oi.product?.productId!] = true"
              (onCancel)="hasEnteredRatingForProduct[oi.product?.productId!] = false" [cancel]="false"></p-rating>
            <button #submitRatingBtn [disabled]="!hasEnteredRatingForProduct[oi.product?.productId!]"
              (click)="submitRating(oi.product?.productId!, rating, submitRatingBtn)"
              class="btn btn-success">Submit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 container justify-content-center d-flex mt-3" *ngIf="orderItems && orderItems.length>5">
    <pagination-controls (pageChange)="pageNum = $event"></pagination-controls>
  </div>

</div>
