<div class="container">
  <div class="input-group mb-4 ">
    <div id="search-autocomplete" class="form-outline">
      <input type="search" id="form1" class="form-control" placeholder="Product" />
    </div>
    <button type="button" class="btn btn-primary">
      Search
    </button>
  </div>


  <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Stock</th>
        <th>Image</th>
        <th>Price</th>
        <th>Storage ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products! | paginate: { itemsPerPage: 5, currentPage: pageNum}">
        <td>{{p.productId}}</td>
        <td>{{p.productName}}</td>
        <td>{{p.productStock}}</td>
        <td>{{p.productImage}}</td>
        <td>${{p.productPrice}}</td>
        <td>{{p.storageId}}</td>
        <td>
          <button class="btn btn-warning" style="margin-right: 10px;"
            [routerLink]="['/edit-product', p.productId]">Edit</button>
          <button class="btn btn-warning" (click)="deleteProduct(p.productId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-lg-6 container justify-content-center d-flex mt-3">
    <pagination-controls (pageChange)="pageNum = $event"></pagination-controls>
  </div>
</div>
