<div class="container">
  <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Stock</th>
        <th>Image</th>
        <th>Price</th>
        <th>Storage ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{p.productId}}</td>
        <td>{{p.productName}}</td>
        <td>{{p.productStock}}</td>
        <td>{{p.productImage}}</td>
        <td>${{p.productPrice}}</td>
        <td>{{p.storageId}}</td>
        <td>
          <button class="btn btn-warning" style="margin-right: 10px;"
            [routerLink]="['/edit-product', p.productId]">Edit</button>
          <button class="btn btn-warning" (click)="deleteProduct(p.productId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" [routerLink]="['/add-product']">Add New Product</button>
</div>
