<div class="container-fluid">
    <div class="card" style="width: 50%; margin: 10px auto;">
        <div class="card-header">
            Add New Product
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="my-input">Name</label>
                <input [(ngModel)] ="product.productName" input id="my-input" class="form-control" type="text" name="">
            </div>
            <div class="form-group">
                <label for="my-input">Stock</label>
                <input [(ngModel)] ="product.productStock" id="my-input" class="form-control" type="text" name="">
            </div>
            <div class="form-group">
                <label for="my-input">Image</label>
                <input [(ngModel)] ="product.productImage"  id="my-input" class="form-control" type="text" name="">
            </div>
            <div class="form-group">
                <label for="my-input">Price</label>
                <input [(ngModel)] ="product.productPrice" id="my-input" class="form-control" type="text" name="">
            </div>
            <div class="form-group">
                <label for="my-input">Storage Id</label>
                <input [(ngModel)]="product.storageId" id="my-input" class="form-control" type="text" name="">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="saveProduct()">Save</button>
            </div>
        <div class="card-footer" **ngIf="showAlert">
              <div class="alert alert-success" role="alert">
                <button class ="close" (click)="closeAlert()">&times;</button>
                <strong>Successfully saved</strong>
              </div>  
        </div>
    </div>
</div>