<div class="card">
    <div class="row">
        <div class="col-md-8">
            <div class="title">
                <div class="row">
                    <div class="col"><h1><b>Your Cart</b></h1></div>
                </div>
            </div>
            <div class="row border-top border=bottom">
                <div class="row main align-items-center">
                    <div class="col">
                        <h3>Items</h3>
                        <!--cartList-->
                    </div>
                    <div class="col">
                        <h3>Quantity</h3>
                        <form>
                           <!--unsure if we are updating quantity from cart and how-->
                        </form>
                    </div>
                    <div class="col">
                        <h3>Price</h3>
                        <!--price-->
                    </div>
                </div>
            </div>
            <div class="backtostore"><a href="product-list">Back To Store</a></div>
        </div>
    </div>
</div>