<h3 class="text-center">Orders</h3>
<div class="container">
  <table class="table blue-white-table">
    <thead class="thead-light">
      <tr>
        <th>Okta Id</th>
        <th>Order Id</th>
        <th>Date</th>
        <th>Status</th>
        <th>Tracking number</th>
        <th>Total Bill</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of orders | paginate: { itemsPerPage: 5, currentPage: pageNum}">
        <td>{{o.oktaId}}</td>
        <td>{{o.orderId}}</td>
        <td>{{o.orderTime | date:"medium"}}</td>
        <td [ngStyle] = "getStatusStyle(o.orderStatus!)"><strong>{{o.orderStatus}}</strong></td>
        <td>{{o.trackingNumber}}</td>
        <td>${{o.totalPrice}}</td>
        <td>
          <button [routerLink]="[o.trackingNumber]" class="btn btn-warning">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-lg-6 container justify-content-center d-flex mt-3" *ngIf="orders && orders.length>5">
    <pagination-controls (pageChange)="pageNum = $event"></pagination-controls>
  </div>
</div>
